<html>
    <head>
        <title>Blog App</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.css">
        <link rel="stylesheet" href="/stylesheets/app.css">
    </head>
</html>
</body>
    <div class="ui fixed inverted menu">
        <div class="ui container">
            <div class="header item"><strong><i class="code icon"></strong></i>Blog Site</div>
            <a href="/" class="item">Home</a>
            <a href="/blogs" class="item">New Post</a>
        </div>
    </div>


<menu>
    
</menu>
